{% extends "index.html" %}
{% load staticfiles %}
{% block main %}
<h4 class="page-title">Clean</h4>
<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Map</h4>
        </div>
        <div class="card-body">
            <img src="{% static 'img/map.jpg' %}" height=300>
        </div>
        <div class="card-footer">
            <div class="legend"><i class="la la-circle text-primary"></i> Map</div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Clean Control</h4>
        </div>
        <div class="card-body">
            <div class="form-page-div">
                <form class="form-page" method="post" action="/clean/">
                    {% csrf_token %}
                    {% if res != '' %}
                    <div class = "alert vermil">
                        {{ res }}
                    </div>
                    {% endif %}
                    <p class="demo">
                    repeat time
                    <input class="input-group-lg form-control" type="text" name="level" value="1">
                    </p>
                    </br>
                    <p class="demo">
                    <input class="fresh btn btn-lg btn-round" type="submit" 
                                                              name="circle" value="clean circle">
                    </p>
                    <p class="demo">
                    <input class="fresh btn btn-lg btn-round" type="submit" 
                                                              name="zig" value="clean zig-zag">
                    </p>
                    {{ res }}
                </form>
            </div>
        </div>
        <div class="card-footer">
            <div class="legend"><i class="la la-circle text-primary"></i> Clean</div>
        </div>
    </div>
</div>
{% endblock %}
