{% extends "index.html" %}
{% load staticfiles %}
{% block main %}
<h4 class="page-title">Clean</h4>
<div class="col-md-6">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">map</h4>
    </div>
    <div class="card-body">
      <img src="{% static 'img/map.jpg' %}" height=350>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">choose label</h4>
    </div>
    <div class="card-body">
      <div class="form-page-div">
        <form class="form-page" method="post" action="/clean/">
          {% csrf_token %}
          <p class="demo">
          <input class="fresh btn btn-lg btn-round" type="submit" value="clean circle">
          </p>
          <p class="demo">
          <input class="fresh btn btn-lg btn-round" type="submit" value="clean zig-zag">
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
