{% extends "index.html" %}
{% load staticfiles %}
{% block main %}
<h4 class="page-title">MoveControl</h4>
<div class="row">
  <div class="col-md-6">
	<div class="card">
	  <div class="card-header">
		<h4 class="card-title">Control Panel</h4>
		<p class="card-category">You can contol the robot through this button</p>
	  </div>
	  <div class="card-body">
        <p class="demo">
          <h4 class="card-title">Begin Control</h4>
          <br />
		  <button class="vermil btn btn-lg btn-round" onclick="api_move('Begin');">Begin</button>
          <br />
		</p>
        <h4 class="card-title">Control Button</h4>
        <br />
		<p class="demo">
		  <button class="fresh btn btn-lg btn-round" onclick="api_move('Turn Left');">Turn Left</button>
          <button class="fresh btn btn-lg btn-round" onclick="api_move('Turn Right');" >Turn Right</button>
		</p>

        <p class="demo">
          <button class="fresh btn btn-lg btn-round" onclick="api_move('Forwards');">
              Forwards
          </button>
		  <button class="fresh btn btn-lg btn-round" onclick="api_move('Backwards');">
              Backwards
          </button>
		</p>

        <p class="demo">
          <button class="fresh btn btn-lg btn-round" onclick="api_move('Move Left');">Move Left</button>
		  <button class="fresh btn btn-lg btn-round" onclick="api_move('Move Right');">Move Right</button>
		</p>

        <p class="demo">
          <h4 class="card-title">Stop Button</h4>
          <br />
		  <button class="vermil btn btn-lg btn-round" onclick="api_move('Stop');">Stop</button>
		</p>
	  </div>
      <div class="card-footer">
		<div class="legend"><i class="la la-circle text-primary"></i> Move</div>
	  </div>
	</div>
  </div>

  <div class="col-md-3">
	<div class="card">
	  <div class="card-header">
		<h4 class="card-title">Speed Controller</h4>
		<p class="card-category">You can change the speed here</p>
	  </div>
	  <div class="card-body">

	  </div>
      <div class="card-footer">
		<div class="legend"><i class="la la-circle text-primary"></i> Move</div>
	  </div>
	</div>
  </div>
</div>
<div class="row">

  <div class="col-md-6">
	<div class="card">
	  <div class="card-header">
		<h4 class="card-title">Mapping</h4>
		<p class="card-category">You can build your own map in a new scene</p>
	  </div>
	  <div class="card-body">
        <p class="demo">
          <button class="sunshine btn btn-lg btn-round" onclick="api_move('Begin Mapping');">Begin Mapping</button>
		  <button class="sunshine btn btn-lg btn-round" onclick="api_move('Save Your Map');">Save Your Map</button>
		</p>
	  </div>
      <div class="card-footer">
		<div class="legend"><i class="la la-circle text-primary"></i> Map</div>
	  </div>
	</div>
  </div>
</div>

<!-- Modal -->
{% endblock %}
