{% extends "index.html" %}
{% load staticfiles %}
{% block main %}
					  <h4 class="page-title">LogManage</h4>
                        </br>
                        <div style="text-align: left; margin-left: 50px; margin-right: 50px">
                          {% for log in logs %}
                          <span>{{ log }} <br /></span>
                          {% endfor %}
                        </div>

                        {# 实现分页标签的代码 #}
                        {# 这里使用 bootstrap 渲染页面 #}
                        <div id="pages" class="text-center" >
                          <nav>
                            <ul class="pagination">
                              <li class="step-links">
                                {% if logs.has_previous %}
                                <a class='active' href="?page={{ logs.previous_page_number }}">上一页</a>
                                {% endif %}

                                <span class="current">
                                  Page {{ logs.number }} of {{ logs.paginator.num_pages }}</span>

                                {% if logs.has_next %}
                                <a class='active' href="?page={{ logs.next_page_number }}">下一页</a>
                                {% endif %}
                          </li></ul></nav>
                        </div>


	<!-- Modal -->
	<script>
		function api_move(type) {
			$.ajax({
				method: "POST",
				url: "{% url 'api_move' %}",
				dataType: 'json',
				data: {
					json_data: JSON.stringify({
						"type": type,
						// 填入你的数据
					}),
					csrfmiddlewaretoken: '{{ csrf_token }}'
				},
				success: function(response) {
					console.log(response.status)
				}
			})
		}
	</script>
{% endblock %}
